{{! partials for adding new comment }}
<section class="add-comment">
	<div class="comment-card">
		<div class="card-body">
			<form id="new-comment-form">
				<textarea
					id="new-comment-content"
					rows="2"
					cols="120"
					placeholder="Add your comment here."
					aria-setsize="fixed"
				></textarea>
			</form>
			<button id="add-comment-btn" type="submit" class="new-comment-btn btn"><i
					class="fas fa-plus"
				></i>
				ADD COMMENT</button>
		</div>
	</div>
</section>

<script src="/js/addComment.js"></script>