{{! partials for adding new comment }}
<section class="add-comment">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Create New Comment</div>
		</div>
		<div class="card-body">
			<form>
				<textarea
					rows="2"
					cols="120"
					placeholder="Add your comment here."
					aria-setsize="fixed"
				></textarea>
			</form>
			<button type="submit" class="new-comment-btn btn"><i
					class="fas fa-plus"
				></i>
				ADD COMMENT</button>
		</div>
	</div>
</section>