{{! partials for comments }}
<section class="comments">
	<div class="comments-card">
		<p> {{comment.content}} </p>
	</div>
	<div class="comment-user">
		<p> {{Comment.User.username}}, {{date_created}}</p>
	</div>
</section>