{{! partials for comments }}
<section class="comments">
	<div class="comments-card">
		<p>{{comment_content}}</p>
	</div>
	<div class="comment-user">
		<p>{{user.username}}, {{date_created}}</p>
	</div>
	{{#if is_owner}}
	<div class="delete-comment">
		<p><i class="fas fa-minus-square"></i></p>
	</div>
	{{/if}}
</section>