{{! This is handlebars for editing posts }}
{{! Only from dashboard, and if they're logged in, can they access this page }}
<a class="return-dashboard" href="/dashboard">&larr; Back to dashboard</a>
<section id="edit-post-card" class="edit-post">
	<div class="card">
		<div class="card-header">
			<div class="card-title">Edit Post</div>
		</div>
		<div class="card-body">
			<form id="new-post-form">
				<label for="update-post-title" class="form-label">TITLE</label>
				<textarea
					id="update-post-title"
					rows="2"
					placeholder="{{title}}"
					aria-setsize="fixed"
				></textarea>
				<label for="update-post-content" class="form-label">POST CONTENT</label>
				<textarea
					id="update-post-content"
					rows="10"
					placeholder="{{post_content}}"
					aria-setsize="fixed"
				></textarea>
			</form>
			<button id="update-post-btn" type="submit" class="new-post-btn btn">
				<i class="fas fa-pen"></i>
				UPDATE POST
			</button>
			<button id="delete-post-btn" type="submit" class="new-post-btn btn">
				<i class="fas fa-trash"></i>
				DELETE POST</button>
		</div>
	</div>
</section>

<script src="/js/editPost.js"></script>
