<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tech Blog</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header>
			<div class="top-container">
				<nav class="navigation-bar">
					<li><a href="/">Home</a></li>
					<!-- If logged in, show dashboard and logout -->
					{{#if logged_in}}
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/logout" id="logout">Logout</a></li>
					{{else}}
						<!-- Else, show login -->
						<li><a href="/login">Login</a></li>
					{{/if}}
				</nav>
				<h1 class="title">The Tech Blog</h1>
			</div>
		</header>
		<main class="main-container">

			{{{ body }}}

		</main>
		<footer>

		</footer>
		<!-- Render script for logged in users only -->
		{{#if logged_in}}
			<script src="/js/logout.js"></script>
		{{/if}}
	</body>
</html>