<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tech Blog</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
			rel="stylesheet"
		/>
		{{!-- <link rel="stylesheet" href="/css/jass.css" /> --}}
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header>
			<div class="top-container">
				<nav class="navigation-bar">
					<li><a href="/">Home</a></li>
					<!-- If logged in, show dashboard and logout -->
					{{#if logged_in}}
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/logout" id="logout">Logout</a></li>
					{{else}}
						<!-- Else, show login -->
						<li><a href="/login">Login</a></li>
					{{/if}}
				</nav>
				<h1 class="title">The Tech Blog</h1>
			</div>
		</header>
		<main class="main-container">
			{{#if logged_in}}
			{{ homepage }}
			{{/if}}
			
			{{{ body }}}

		</main>
		<footer>

		</footer>
		<!-- Render script for logged in users only -->
		{{#if logged_in}}
			<script src="/js/logout.js"></script>
		{{/if}}
	</body>
</html>