{{!-- This is where users can see their dashboard of a list of their posts, and add a new post --}}
{{#if loggedIn}}

<section class="user-dashboard">
    {{#each posts as |post|}}
    {{> posts post}}
    {{/each}}
    <div class="create-post-btn">
        <button type="submit" class="new-post-btn btn"><i class="fas fa-plus"></i> CREATE NEW POST</button>
    </div>
</section>


{{/if}}