<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tech Blog</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">		
        <link rel="stylesheet" href="../public/css/style.css" />
	</head>
	<body>
		<header>
            <div class="top-container">
			<nav class="navigation-bar">
                    <li><a>Home</a></li>
                    <!-- If logged in, show dashboard and logout -->
                    <li><a>Dashboard</a></li>
                    <li><a>Logout</a></li>
                    <!-- Else, show login -->
                    <li><a>Login</a></li>
			</nav>
            <h1 class="title">The Tech Blog</h1>
            </div>
		</header>
        <main class="main-container">
            <!-- Insert main body here -->
            <div class="row">
                <div class="col-md-6">
                  <h2>Login</h2>
              
                  <form class="form login-form">
                    <div class="form-group">
                      <label for="email-login">email:</label>
                      <input class="form-input" type="text" id="email-login" />
                    </div>
                    <div class="form-group">
                      <label for="password-login">password:</label>
                      <input class="form-input" type="password" id="password-login" />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">login</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-6">
                  <h2>Signup</h2>
              
                  <form class="form signup-form">
                    <div class="form-group">
                      <label for="name-signup">name:</label>
                      <input class="form-input" type="text" id="name-signup" />
                    </div>
                    <div class="form-group">
                      <label for="email-signup">email:</label>
                      <input class="form-input" type="text" id="email-signup" />
                    </div>
                    <div class="form-group">
                      <label for="password-signup">password:</label>
                      <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">signup</button>
                    </div>
                  </form>
                </div>
              </div>

        </main>
	</body>
</html>
