<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tech Blog</title>
		<!-- <link rel="stylesheet" href="../public/css/jass.css"/> -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../public/css/style.css" />
	</head>
	<body>
		<header>
			<div class="top-container">
				<nav class="navigation-bar">
					<li><a>Home</a></li>
					<!-- If logged in, show dashboard and logout -->
					<li><a>Dashboard</a></li>
					<li><a>Logout</a></li>
					<!-- Else, show login -->
					<li><a>Login</a></li>
				</nav>
				<h1 class="title">The Tech Blog</h1>
			</div>
		</header>
		<main class="main-container">
			<!-- Insert main body here -->

			<!-- below is login page -->
			<div class="card">
				<div class="card-header">
					<div class="card-title">Login</div>
				</div>
				<div class="card-body">
					<form class="login-form">
						<div>
							<label for="username-login" class="form-label">Username</label>
							<input type="text" class="form-input" id="username-login" />
						</div>
						<div>
							<label for="password-login" class="form-label">Password</label>
							<input type="password" class="form-input" id="password-login" />
						</div>
						<div>
							<button type="submit" class="btn">Login</button>
						</div>
						<a class="signup-link" href="../public/js/signup.js"
							>Sign up instead</a
						>
					</form>
				</div>
			</div>

			<script src="../public/js/login.js"></script>

			<!-- below is signup page -->

			<div class="card">
				<div class="card-header">
					<div class="card-title">Sign Up</div>
				</div>
				<div class="card-body">
					<form class="signup-form">
						<div>
							<label for="email-signup" class="form-label">Email</label>
							<input type="text" class="form-input" id="email-signup" />
						</div>
						<div>
							<label for="username-signup" class="form-label">Username</label>
							<input type="text" class="form-input" id="username-signup" />
						</div>
						<div>
							<label for="password-signup" class="form-label">Password</label>
							<input type="password" class="form-input" id="password-signup" />
						</div>
						<div>
							<button type="submit" class="btn">Sign Up</button>
						</div>
						<a class="login-link" href="../public/js/login.js">Login instead</a>
					</form>
				</div>
			</div>

			<!-- Below is a sample post -->

			<div class="card">
				<div class="card-header">
					<div class="card-title"><h3><a>This is a sample post title</a></h3></div>
					<div class="card-datetime"><p>Posted by Aaron on 06.06.2021</p></div>
				</div>
				<div class="card-body">
					<p>This is a sample post.</p>
				</div>
			</div>


		</main>
	</body>
</html>
