<section class="welcome-page">
	<div class="card">
		<div class="card-header">
			<div class="card-title"><h3><a>Welcome to the Tech Blog!</a></h3></div>
			<div class="card-datetime"><p>Posted by Developer on 06/06/2021</p></div>
		</div>
		<div class="card-body">
			<p>Please login to gain access to viewing, adding, and commenting on
				blog posts.</p>
		</div>
	</div>
</section>