:root {
    /* insert colours here */
    --solidbrown: rgb(36, 9, 9);
    --lightgreen: rgb(178, 194, 178);
    --grey: #6f6866;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--lightgreen);
}

h1 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}

li {
    list-style-type: none;
}

a { 
    cursor: pointer;
}

/* a :hover {
    text-decoration: underline;
    text-decoration-color: aliceblue;
} */

header {
    background-color: var(--solidbrown);
}

.top-container {
    padding: 10px;
}

.navigation-bar {
    padding: 0;
	margin-top: 0;
    margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	list-style: none;
}

.navigation-bar li {
    text-decoration: none;
    color: var(--lightgreen);
    padding: 20px 60px;
    padding-left: 60px;
	padding-right: 60px;
    font-weight: 300;
    /* border: beige;
    border-style: solid;
    border-width: thin;
    border-radius: 10px; */
}

.title {
    padding-left: 60px;
	padding-right: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--lightgreen);
    box-shadow: 6px 5px var(--grey);
    font-weight: bolder;
}
